<!DOCTYPE html>
<html lang="en">
	<head>
		<title>IntrePId</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/static/css/jasny-bootstrap.css" rel="stylesheet">
		<link href="/static/css/messenger.css" rel="stylesheet">
		<link href="/static/css/messenger-theme-flat.css" rel="stylesheet">
		<script src="/static/js/jquery-latest.js"></script>
		<!-- Téléchargé jquery pour faciliter l'accès au site en local (pas de dépendance à un autre site) -->
		<script src="/static/js/jasny-bootstrap.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/messenger.min.js"></script>
		<script src="/static/js/messenger-theme-flat.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script type="text/javascript">
		function basicOnLoad() {
			Messenger.options = {
			    extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
			    theme: 'flat'
			}
			{% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
			    {% for message in errors %}
			      	Messenger().post({
					  message: "{{message}}",
					  type: 'error',
					  showCloseButton: true
					});
			    {% endfor %}					        
			{% endif %}
			{% endwith %}

			{% with infos = get_flashed_messages(category_filter=["info"]) %}
            {% if infos %}
			    {% for message in infos %}
			        Messenger().post({
					  message: "{{message}}",
					  type: 'success',
					  showCloseButton: true
					});
			    {% endfor %}					        
			{% endif %}
			{% endwith %}
			$("#logout").tooltip();
		}
		</script>
		{% block js%}{% endblock %}

	</head>
	<style>
        body { padding-top: 60px; }
        .circle {
        border-radius: 50%;
            width: 10px;
            height: 10px;
            background: green;
        }
    </style>
	<body>
		
		{% block header %}
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/index"><font size="6">intre</font><font color="red" size="10">π</font><font size="6">d</font></a>
					<div class="nav-collapse collapse">

					<ul id="topbar" class="nav pull-right">
						<p></p>
						<p></p>
						<li><img src="/static/img/DefaultIcon/png/32x32/cpu.png"></li>
						<li>&nbsp;</li>
						<li><font id ="cpuload" color="white"><img src="/static/img/loading.gif" alt="loading"></font><br /><font color="#C0C0C0">CPU</font></li>
						<li>&nbsp;&nbsp;&nbsp;</li>
						<li><img src="/static/img/DefaultIcon/png/32x32/ram.png"></li>
						<li>&nbsp;</li>
						<li><font id ="ram" color="white"><img src="/static/img/loading.gif" alt="loading"></font><br /><font color="#C0C0C0">RAM</font></li>
						<li>&nbsp;&nbsp;&nbsp;</li>						
						<li><img src="/static/img/DefaultIcon/png/32x32/floppy.png"></li>
						<li>&nbsp;</li>
						<li><font id ="disk" color="white"><img src="/static/img/loading.gif" alt="loading"></font><br /><font color="#C0C0C0">Disk</font></li>
						<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
						<li><div><a class="btn btn-small btn-danger" href="/logout" id="logout" data-toggle="tooltip" data-placement="bottom" title data-original-title="Logout"><i class="icon-off icon-white"></i></a></div></li>
					</ul>
					<ul class="nav">
						<p></p>
						<p></p>
                        <li><p class="navbar-text">intrepid [ɪnˈtrɛpɪd]. adj. fearless; daring;</p></li>
					</ul>

				</div>
			</div>
		</div>
	</div>
	{% endblock %}
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2 bs-docs-sidebar" style="padding-right:20px; border-right: 1px solid #ccc;">
					<ul class="nav nav-pills nav-stacked">
						{% block menu %}
						{% set active_page = active_page|default('index') -%}

						

						<li{% if active_page == 'index' %} class="active"{% endif %}><a href="/index"><img src="/static/img/DefaultIcon/png/16x16/home.png"> Home</a></li>
						
						<li{% if active_page == 'settings' %} class="active"{% endif %}><a href="/settings"><img src="/static/img/DefaultIcon/png/16x16/preferences.png"> Settings</a></li>
						

						<li{% if active_page == 'scenarios' %} class="active"{% endif %}><a href="/scenarios"><img src="/static/img/DefaultIcon/png/16x16/search.png"> Scenarios</a></li>
						{% with ips = ips %}
							{% if ips.includedip %}
							<li{% if active_page == 'type' %} class="active"{% endif %}><a href="/scenarios/type">&nbsp&nbsp<img src="/static/img/DefaultIcon/png/16x16/search.png"> Type</a></li>
							
							<li{% if active_page == 'manager' %} class="active"{% endif %}><a href="/scenarios/manager">&nbsp&nbsp<img src="/static/img/DefaultIcon/png/16x16/search.png"> Manager</a></li>
							{% else %}	
							
							<li class="disabled"><a href="/scenarios/type">&nbsp&nbsp<img src="/static/img/DefaultIcon/png/16x16/search.png"> Type</a></li>
							
							<li class="disabled"><a href="/scenarios/manager">&nbsp&nbsp<img src="/static/img/DefaultIcon/png/16x16/search.png"> Manager</a></li>
							{% endif %}
						{% endwith %}


						<li{% if active_page == 'updates' %} class="active"{% endif %}><a href="/updates"><img src="/static/img/DefaultIcon/png/16x16/key-shift.png"> Updates</a></li>
						
						<li{% if active_page == 'term' %} class="active"{% endif %}><a href="/term"><img src="/static/img/DefaultIcon/png/16x16/terminal.png"> Terminal</a></li>
						{% endblock %}
					</ul>
				</div>
				<div class="span10">
					<div class="clearfix content-heading">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
		<script>
		function addLoadEvent(func) {
			var oldonload = window.onload;
			if (typeof window.onload != 'function') {
				window.onload = func;
			} else {
				window.onload = function() {
					if (oldonload) {
						oldonload();
					}
					func();
				}
			}
		}
		addLoadEvent(basicOnLoad);
        if (typeof(pageOnLoad) == typeof(Function)) {
		    addLoadEvent(pageOnLoad);
		}

        var WebsocketClass = function(host){
               this.socket = new WebSocket(host);
        }

        var current_interval_id;
        var reconnecting_attempt = false;
	    WebsocketClass.prototype = {
               initWebsocket : function(){
                       var $this = this;
                       this.socket.onmessage = function(e){
                               $this._onMessageEvent(e);
                       };
                       this.socket.onclose = function(){
                               $this._onCloseEvent();
                       };
                       this.socket.onopen = function() {
                               $this._onOpenEvent();
                       }
                       this.socket.onerror = function() {
                               $this._onCloseEvent();
                       }
               },
               initAutoSend : function(){
                    var $this = this;
		            current_interval_id = setInterval(function(){$this.socket.send('update')}, {{ settings.updatetime }})
               },
               _onOpenEvent : function() {
                    Messenger().post({
                      message: 'Connected to Server.',
                      type: 'success'
                    });
               },
               _onMessageEvent : function(e){
                    var parsed = JSON.parse(e.data);
                    if (parsed['received'] == 'update') {
                        $("#cpuload").text(parsed['cpu']+" %");
                        $("#ram").text(parsed['ram']+" %");
                        $("#disk").text(parsed['disk']+" %");
                    }
                    else {
                        Messenger().post({
                          message: parsed['received'],
                          type: 'success'
                        });
                    }
               },
               _onCloseEvent : function(){
                    window.clearInterval(current_interval_id)
                    if(reconnecting_attempt == false) {
                        reconnecting_attempt = true;
                        var connect = 0;
                        window.clearInterval(current_interval_id);
                        $('#cpuload').text('');
                        $('#cpuload').prepend("<img src='/static/img/loading.gif' />")
                        $('#ram').text('');
                        $('#ram').prepend("<img src='/static/img/loading.gif' />")
                        $('#disk').text('');
                        $('#disk').prepend("<img src='/static/img/loading.gif' />")
                        Messenger().run({
                            errorMessage: 'Disconnected from Server',
                            action: function(opts) {
                                if(connect == 0) {
                                    connect = 1;
                                    return opts.error({
                                        status: 500,
                                        readyState: 0,
                                        responseText: 0
                                    });
                                }
                                ws = new WebsocketClass("ws://127.0.0.1:8000/_socket_system");
                                ws.initWebsocket();
                                ws.initAutoSend();
                                reconnecting_attempt = false;
                                return opts.success();
                            }
                        });
                    }
               }
        };

        // Initialize a new websocket (the first one)
        var ws = new WebsocketClass("ws://127.0.0.1:8000/_socket_system");
		window.setTimeout('ws.initWebsocket()', 500);
		ws.initAutoSend();

		// Before changing the page, we close the socket correctly.
		window.onbeforeunload = function() {
            ws.socket.onclose = function () {};
            ws.socket.close()
        };
		</script>	
	</body>
</html>